.form-control {
    height: calc(2.0em + .75rem + 2px);
    padding: .375rem 1rem;
   /*  border: 1px solid #515a518f; */
   font-size: 15px;

}
.form-group{
    margin-bottom: 0%;
}

.row {
    flex-wrap: unset;
    padding-left: 0.5%;
    width: 55%;
    margin-left: 22%;
    margin-right: 22.5%;
    margin-bottom: 3%;
}

@media(max-width:1000px){
    .row{
        width: 100%;  
        padding-left: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

.tituloo h1{
    border-bottom: 1px solid #A1CC3F;
    width: fit-content;
    text-align: left;
}